
.close-button:hover {
    -fx-text-fill: red;
}

.hovering-access-button:hover{
    -fx-background-color: #f2dec0;
    -fx-text-fill: black;
}

.hovering-button:hover{
    -fx-text-fill: #e8cd9a;
}

.hovering-register-button:hover{
    -fx-text-fill: #f2dec0;
}
.starting-background{
    -fx-background-radius: 30;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #C4AC85 0%, #144e5e 100%); /*Oppure e8d0a9 se chiaro al posto di C4AC85 */
}
.access-buttons{
    -fx-background-color: #f0c075;
    -fx-background-radius: 30;
    -fx-text-fill: #2b2b2b;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.register-button{
    -fx-text-fill: f0c075;
    -fx-underline: false;
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.title-button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-padding: 5 10 5 10;
}

.register-fields{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #ffffff transparent;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #dddddd;
}

.register-labels{
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 5;
}

.homepage-background-color{
    -fx-background-color: #144e5e;
}


.homepage-background-color2{
    -fx-background-color: #246C63;
}

.search-bar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #999999;
    -fx-text-fill: #333333;
    -fx-padding: 5 15 5 15;
    -fx-font-size: 14px;
}

.search-bar:focused {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2); /* Leggera ombra */
}

.avatar-container {
    -fx-cursor: hand;
}

.avatar-container:hover {
    -fx-opacity: 0.85;
}